In [13]:
from da_utils.font import setup_korean_font

# 한글 폰트 설정 (한 번만 호출하면 됨)
setup_korean_font()

✅ Korean font set successfully: AppleGothic

In [ ]:
import pandas as pd

# CSV 파일 경로
file_path = "/Users/jaehyuntak/Desktop/pjt-data-analysis/data_row/combined_seoul_apt_sales_20250821.csv"

# CSV 불러오기
df = pd.read_csv(file_path, encoding='utf-8')  # 인코딩 utf-8, euc-kr 등 파일에 맞춰 조정

# 데이터 확인
print(df.head())       # 상위 5행 확인
print(df.info())       # 데이터 타입 및 결측치 확인
print(df.describe())   # 수치형 컬럼 기본 통계

IsADirectoryError: [Errno 21] Is a directory: '/Users/jaehyuntak/Desktop/Project_____현재 진행중인/pjt-data-Note/original_data'

In [ ]:
# 이 내용을 GPT한테 공유해주니깐 진단을 해주네 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692583 entries, 0 to 692582
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NO        692583 non-null  int64
 1   시군구       692583 non-null  object
 2   번지        692583 non-null  object
 3   본번        692583 non-null  int64
 4   부번        692583 non-null  int64
 5   단지명       692583 non-null  object
 6   전용면적(㎡)   692583 non-null  float64
 7   계약년월      692583 non-null  int64
 8   계약일       692583 non-null  int64
 9   거래금액(만원)  692583 non-null  object
 10  동         692583 non-null  object
 11  층         692583 non-null  int64
 12  매수자       692583 non-null  object
 13  매도자       692583 non-null  object
 14  건축년도      692583 non-null  int64
 15  도로명       692583 non-null  object
 16  해제사유발생일   692583 non-null  object
 17  거래유형      692583 non-null  object
 18  중개사소재지    692583 non-null  object
 19  등기일자      692583 non-null  object
dtypes: float64(1), int64(7), object(12)
memory usage: 105.7+ MB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692583 entries, 0 to 692582
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   NO        692583 non-null  int64
 1   시군구       692583 non-null  object
 2   번지        692583 non-null  object
 3   본번        692583 non-null  int64
 4   부번        692583 non-null  int64
 5   단지명       692583 non-null  object
 6   전용면적(㎡)   692583 non-null  float64
 7   계약년월      692583 non-null  int64
 8   계약일       692583 non-null  int64
 9   거래금액(만원)  692583 non-null  object
 10  동         692583 non-null  object
 11  층         692583 non-null  int64
 12  매수자       692583 non-null  object
 13  매도자       692583 non-null  object
 14  건축년도      692583 non-null  int64
 15  도로명       692583 non-null  object
 16  해제사유발생일   692583 non-null  object
 17  거래유형      692583 non-null  object
 18  중개사소재지    692583 non-null  object
 19  등기일자      692583 non-null  object
dtypes: float64(1), int64(7), object(12)
memory usage: 105.7+ MB

In [ ]:
# 원본 df는 그대로, 전처리용 복사본 생성
df_clean = df.copy()

# 컬럼명 영문화 매핑
col_map = {
    "NO": "no",
    "시군구": "district",
    "번지": "lot_number",
    "본번": "main_number",
    "부번": "sub_number",
    "단지명": "complex_name",
    "전용면적(㎡)": "area_m2",
    "계약년월": "contract_ym",
    "계약일": "contract_day",
    "거래금액(만원)": "price_krw",
    "동": "building",
    "층": "floor",
    "매수자": "buyer",
    "매도자": "seller",
    "건축년도": "year_built",
    "도로명": "road_name",
    "해제사유발생일": "cancel_date",
    "거래유형": "trade_type",
    "중개사소재지": "broker_location",
    "등기일자": "register_date"
}
df_clean = df_clean.rename(columns=col_map)

# 거래금액 숫자화
df_clean["price_krw"] = df_clean["price_krw"].str.replace(",", "").astype(int)

# 계약일자 처리 → 연월+일 합쳐서 datetime
df_clean["contract_date"] = pd.to_datetime(
    df_clean["contract_ym"].astype(str) + df_clean["contract_day"].astype(str).str.zfill(2),
    format="%Y%m%d"
)

# 건축년도도 datetime 변환 (연만 있음 → 1월1일로 통일)
df_clean["built_date"] = pd.to_datetime(df_clean["year_built"].astype(str), format="%Y")

# 등기일자 datetime 변환 (결측값 있을 수 있음 → errors='coerce')
df_clean["register_date"] = pd.to_datetime(df_clean["register_date"], errors="coerce")

# 변환 후 확인
print(df_clean.info())
print(df_clean.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692583 entries, 0 to 692582
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   no               692583 non-null  int64
 1   district         692583 non-null  object
 2   lot_number       692583 non-null  object
 3   main_number      692583 non-null  int64
 4   sub_number       692583 non-null  int64
 5   complex_name     692583 non-null  object
 6   area_m2          692583 non-null  float64
 7   contract_ym      692583 non-null  int64
 8   contract_day     692583 non-null  int64
 9   price_krw        692583 non-null  int64
 10  building         692583 non-null  object
 11  floor            692583 non-null  int64
 12  buyer            692583 non-null  object
 13  seller           692583 non-null  object
 14  year_built       692583 non-null  int64
 15  road_name        692583 non-null  object
 16  cancel_date      692583 non-null  object
 17  trade_type       692583 non-null  object
 18  broker_location  692583 non-null  object
 19  register_date    116881 non-null  datetime64[ns]
 20  contract_date    692583 non-null  datetime64[ns]
 21  built_date       692583 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(8), object(10)
memory usage: 116.2+ MB
None
   no        district lot_number  main_number  sub_number complex_name  \
0   1   서울특별시 중랑구 면목동       1518         1518           0           신우
1   2  서울특별시 동대문구 휘경동         57           57           0          주공2
2   3   서울특별시 광진구 자양동       87-1           87           1         한강우성
3   4   서울특별시 성동구 옥수동        250          250           0         옥수삼성
4   5   서울특별시 성동구 옥수동        250          250           0         옥수삼성

   area_m2  contract_ym  contract_day  price_krw  ... buyer  seller  \
0    59.92       201608            19      27000  ...     -       -
1    39.98       201608            19      23950  ...     -       -
2    84.72       201608            19      59900  ...     -       -
3    59.70       201608            19      51500  ...     -       -
4    59.70       201608            19      49500  ...     -       -

  year_built   road_name  cancel_date trade_type broker_location  \
0       1998  동일로 569-55            -          -               -
1       2001     한천로 248            -          -               -
2       1993    능동로1길 15            -          -               -
3       1999    독서당로 218            -          -               -
4       1999    독서당로 218            -          -               -

  register_date contract_date built_date
0           NaT    2016-08-19 1998-01-01
1           NaT    2016-08-19 2001-01-01
2           NaT    2016-08-19 1993-01-01
3           NaT    2016-08-19 1999-01-01
4           NaT    2016-08-19 1999-01-01

[5 rows x 22 columns]

/var/folders/1p/yb8d7hmx6wd564h57_td4k140000gn/T/ipykernel_44487/1642855162.py:42: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_clean["register_date"] = pd.to_datetime(df_clean["register_date"], errors="coerce")

In [ ]:
import os
import sys

# 현재 작업 디렉토리를 da_utils로 설정
sys.path.insert(0, os.path.abspath("/Users/jaehyuntak/Desktop/pjt-data-analysis/da_utils"))

from data_profile import get_data_profile


# df_clean 프로파일링
get_data_profile(df_clean)

==================================================
종합 데이터 품질 리포트
==================================================

1. 기본정보
- 데이터 크기: 692583행 x 22열
- 메모리 사용량: 476.66mb
- 수치형 변수: 9 개
- 범주형 변수: 10 개

2. 결측값 분석
⚠️

                  결측수  결측율(%)
register_date  575702   83.12

3. 수치형 변수 품질 분석

,변수명,평균,표준편차,최솟값,최댓값,왜도,첨도,이상값비율(%),유일값비율(%)
0,no,346292.000,199931.635,1.00,692583.00,0.000,-1.200,0.000,100.000
1,main_number,585.749,548.362,1.00,4974.00,3.064,18.995,2.774,0.222
2,sub_number,5.691,44.386,0.00,2837.00,28.988,1273.453,15.009,0.047
3,area_m2,77.567,30.312,10.02,424.32,1.145,3.540,9.482,2.020
4,contract_ym,201932.681,299.962,201508.00,202508.00,0.544,-0.878,0.000,0.017
5,contract_day,15.939,8.714,1.00,31.00,-0.021,-1.171,0.000,0.004
6,price_krw,80786.877,66489.398,1100.00,2500000.00,3.742,34.392,6.356,1.197
7,floor,9.241,6.237,-3.00,69.00,1.198,2.931,1.357,0.010
8,year_built,2000.642,10.206,1961.00,2025.00,-0.183,-0.255,0.405,0.009

4. 분포 이상 감지

- 극심한 왜도 (|skewness|>2)
⚠️
-- main_number: 왜도 = 3.064
-- sub_number: 왜도 = 28.988
-- price_krw: 왜도 = 3.742

- 높은 이상값 비율(>5%)
⚠️
-- sub_number: 이상값 15.0%
-- area_m2: 이상값 9.5%
-- price_krw: 이상값 6.4%

,변수명,평균,표준편차,최솟값,최댓값,왜도,첨도,이상값비율(%),유일값비율(%)
0,no,346292.000,199931.635,1.00,692583.00,0.000,-1.200,0.000,100.000
1,main_number,585.749,548.362,1.00,4974.00,3.064,18.995,2.774,0.222
2,sub_number,5.691,44.386,0.00,2837.00,28.988,1273.453,15.009,0.047
3,area_m2,77.567,30.312,10.02,424.32,1.145,3.540,9.482,2.020
4,contract_ym,201932.681,299.962,201508.00,202508.00,0.544,-0.878,0.000,0.017
5,contract_day,15.939,8.714,1.00,31.00,-0.021,-1.171,0.000,0.004
6,price_krw,80786.877,66489.398,1100.00,2500000.00,3.742,34.392,6.356,1.197
7,floor,9.241,6.237,-3.00,69.00,1.198,2.931,1.357,0.010
8,year_built,2000.642,10.206,1961.00,2025.00,-0.183,-0.255,0.405,0.009

In [ ]:
from da_utils.outliers import outlier_detection

# 이상치 탐지 
outlier_detection(df_clean)

=== 종합 이상값 탐지 시스템 ===
1. 일변량 이상값 탐지 (IQR방법)
  main_number: 19211개 (2.8%)
  sub_number: 103950개 (15.0%)
  area_m2: 65674개 (9.5%)
  price_krw: 44019개 (6.4%)
  floor: 9396개 (1.4%)
  year_built: 2808개 (0.4%)

2. 다변량 이상값 탐지 (마할라노비스 거리)
  임계값: 5.28
  다변량 이상값: 16914개 (2.4%)

3. 다변량 이상값 탐지 (Isolation Forest)
  Isolation Forest 이상값: 69259개 (10.0%)

 == 최종 이상값: 66211개 (9.6%)

(          일변량  Mahal Dist  Iso Forest  총이상값수
 0       False       False       False      0
 1       False       False       False      0
 2       False       False       False      0
 3       False       False       False      0
 4       False       False       False      0
 ...       ...         ...         ...    ...
 692578  False       False       False      0
 692579  False       False       False      0
 692580   True       False        True      2
 692581  False       False       False      0
 692582   True       False        True      2

 [692583 rows x 4 columns],
 0         False
 1         False
 2         False
 3         False
 4         False
           ...
 692578    False
 692579    False
 692580     True
 692581    False
 692582     True
 Name: 총이상값수, Length: 692583, dtype: bool)